/*Selector{
	Property: value;
}*/

*{
	text-align: right;
}

body{
	background-image: url(backgroundimage.jpg);
	background-size: cover;
}

h2 {
	color:red;
}

p {
	color: #226764;
	text-align: center;
	border: 5px solid rgb(139,46,95);
	cursor: pointer;
}

p{
	line-height: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
	font-family: 'Laila', serif;
}

img{
	float: left;
}

footer {
	clear: both;
	text-align: center;
}

li{
	list-style: none;
	display: inline-block;
}
.webtext{ 
	border: 5px	dashed blue;
 }

 .active{
 	color: red;
 }

#div1{
	background: lightblue;
}

#div2{
	background: rgba(246,246,60,0.5);
}